CustomerService/CustomerManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://orderservice.example.com/CustomerManager"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://orderservice.example.com/CustomerManager"
             name="CustomerManager">

  <types>
    <xsd:schema targetNamespace="http://orderservice.example.com/CustomerManager">

      <xsd:element name="GetCustomerRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CustomerId" type="xsd:string"/>
            <xsd:element name="SessionToken" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="UpdateProfileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CustomerId" type="xsd:string"/>
            <xsd:element name="Email" type="xsd:string"/>
            <xsd:element name="SessionToken" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateProfileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateProfileResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="GetCustomerSoapIn">
    <part name="parameters" element="tns:GetCustomerRequest"/>
  </message>
  <message name="GetCustomerSoapOut">
    <part name="parameters" element="tns:GetCustomerResponse"/>
  </message>
  <message name="UpdateProfileSoapIn">
    <part name="parameters" element="tns:UpdateProfileRequest"/>
  </message>
  <message name="UpdateProfileSoapOut">
    <part name="parameters" element="tns:UpdateProfileResponse"/>
  </message>

  <portType name="ICustomerManager">
    <operation name="GetCustomer">
      <documentation>Returns full customer profile as XML. Blocked for Deactivated accounts. VIP customers require Tier-1 clearance.</documentation>
      <input message="tns:GetCustomerSoapIn"/>
      <output message="tns:GetCustomerSoapOut"/>
    </operation>
    <operation name="UpdateProfile">
      <documentation>Updates customer email. Corporate accounts require whitelisted email domain.</documentation>
      <input message="tns:UpdateProfileSoapIn"/>
      <output message="tns:UpdateProfileSoapOut"/>
    </operation>
  </portType>

  <binding name="CustomerManagerBinding" type="tns:ICustomerManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetCustomer">
      <soap:operation soapAction="http://orderservice.example.com/CustomerManager/GetCustomer"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="UpdateProfile">
      <soap:operation soapAction="http://orderservice.example.com/CustomerManager/UpdateProfile"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="CustomerManager">
    <port name="CustomerManagerPort" binding="tns:CustomerManagerBinding">
      <soap:address location="http://internal-soap-gateway:8080/CustomerManager.asp"/>
    </port>
  </service>

</definitions>
